*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  background-color: #AFEEEE;

}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mapContainer{
  display: flex;
  justify-content: center;
}
.MuiFormLabel-root{
  color: white;
}
.headerCell{
  font-weight: bolder;
}
.headerCell .arrow{
  visibility: hidden;  
}
.headerCell:hover .arrow{
  visibility: visible;  
  opacity: 0.5;
}
.headerCell .arrow.selected{
  visibility: visible;  
  opacity:1;
  
}

.headerCell .arrow.selected.desc{
  transform: rotate(180deg);
}


